# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Rust
target/
**/*.rs.bk
Cargo.lock

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Documentation
README.md
LICENSE